<center>
  <h2>
    <strong><%= @client.identifier.upcase %></strong> Data
  </h2>

  <h4>Average Response time across all requests</h4>
  <p><%= @client.average_response_time %></p>
  <h4>Max Response time across all requests</h4>
  <p><%= @client.max_response_time %></p>
  <h4>Min Response time across all requests</h4>
  <p><%= @client.min_response_time %></p>
  <h4>Most frequent request type</h4>
  <p><%= @client.most_frequent_request_type %></p>
  <h4>List of all HTTP verbs used</h4>
  <p><%= @client.all_http_verbs_used %></p>
  <h4>List of URLs listed from most requested to least requested</h4>
  <p><%= @client.most_to_least_requested_urls %></p>
  <h4>Web browser breakdown</h4>
  <p><%= @client.browser_breakdown %></p>
  <h4>OS breakdown</h4>
  <p><%= @client.os_breakdown %></p>
  <h4>Screen Resolutions</h4>
  <p><%= @client.resolution_breakdown %></p>

</center>
