<%= erb :'shared/_client-menu' %>

<% if @client.payload_requests.count == 0 %>
  <%= erb :'shared/_no-data-error' %>
<% else %>
  <center>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Avg. Response Time Across All Requests</th>
          <th><%= @client.average_response_time %></th>
        </tr>
        <tr>
          <th>Max. Response Time Across All Requests</th>
          <th><%= @client.max_response_time %></th>
        </tr>
        <tr>
          <th>Min. Response Time Across All Requests</th>
          <th><%= @client.min_response_time %></th>
        </tr>
        <tr>
          <th>Most Frequent Request Type</th>
          <th><%= @client.most_frequent_request_type %></th>
        </tr>
        <tr>
          <th>List of All HTTP Verbs Used</th>
          <th><%= @client.all_http_verbs_used.join("<br>") %></th>
        </tr>
        <tr>
          <th>List of URLs (Listed Most Requested to Least Requested)</th>
          <th><%= @client.most_to_least_requested_urls.join("<br>") %></th>
        </tr>
        <tr>
          <th>Web browser breakdown</th>
          <th><%= @client.browser_breakdown.keys.join("<br>") %></th>
        </tr>
        <tr>
          <th>OS breakdown</th>
          <th><%= @client.os_breakdown.keys.join("<br>") %></th>
        </tr>
        <tr>
          <th>Screen Resolutions</th>
          <th><%= @client.resolution_breakdown.keys.join("<br>") %></th>
        </tr>
      </table>
    </div>
  </center>
<% end %>
