<center>
  <h2>
    <strong><%= @client.identifier.upcase %></strong>
  </h2>
</center>


<center>
  <h3>
    Information on <%= @relativepath.name %>
  </h3>
    <h4>Max Response time</h4>
      <%= TargetUrl.max_response_time(@relativepath.name) %>
    <h4>Min Response time</h4>
      <%= TargetUrl.min_response_time(@relativepath.name) %>
    <h4>Sorted response times</h4>
      <%= TargetUrl.sorted_response_times(@relativepath.name) %>
    <h4>Average Response time for this URL</h4>
      <%= TargetUrl.average_response_time(@relativepath.name) %>
    <h4>HTTP Verb(s) associated used to it this URL</h4>

    <h4>Three most popular referrers</h4>

    <h4>Three most popular user agents</h4>

</center>
