<%= erb :'shared/_client-menu' %>

<center>
  <%= erb :'shared/_url-navigation' %>
  <h3>
    Information on <%= @relativepath.name %>
  </h3>
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <th>Max. Response Time</th>
        <th><%= TargetUrl.max_response_time(@relativepath.name) %></th>
      </tr>
      <tr>
        <th>Min. Response Time</th>
        <th><%= TargetUrl.min_response_time(@relativepath.name) %></th>
      </tr>
      <tr>
        <th>Sorted Response Times</th>
        <th><%= TargetUrl.sorted_response_times(@relativepath.name).join("<br>") %></th>
      </tr>
      <tr>
        <th>Average Response Time For <%= @relativepath.name %></th>
        <th><%= TargetUrl.average_response_time(@relativepath.name) %></th>
      </tr>
      <tr>
        <th>HTTP Verb(s) Associated Used to Get This URL</th>
        <th><%= TargetUrl.associated_http_verbs(@relativepath.name).join("<br>") %></th>
      </tr>
      <tr>
        <th>Three Most Popular Referrers</th>
        <th><%= TargetUrl.top_three_referrers(@relativepath.name).join("<br>") %></th>
      </tr>
      <tr>
        <th>Three Most Popular User Agents</th>
        <th><%= TargetUrl.top_three_user_agents(@relativepath.name).flatten.join("<br>") %></th>
      </tr>
    </table>
  </div>
</center>
